---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Services from "../components/Services.astro";
import Customers from "../components/Customers.astro";
import Carousel from "../components/carousel/Carousel.astro";
import CarouselSlide from "../components/carousel/CarouselSlide.astro";
import AboutUs from "../components/AboutUs.astro";
---

<Layout title="Mohtarif">
  <Carousel>
    <CarouselSlide image='/assets/electric-service.png'>
      <h1 class="text-center text-5xl font-bold text-white">
        اعمال الكهرباء <span class="text-gradient"></span>
      </h1>
      <p class="text-center text-xl">
        مؤسسة المحترف للصيانة والتشطيب تعد واحدة من المؤسسات الرائدة في مجال تمديد الاسلاك الكهربائية وتوزيع نقاط الكهرباء وعمل لوحة تجميع للكهرباء باساليب حديثة تجعل الحفاظ على الاجهزة والمنزل اكثر امان. 
      </p>
    </CarouselSlide>
    <CarouselSlide image="/assets/plumbing.jpg">
      <h1 class="text-center text-5xl font-bold text-white">
        اعمال السباكة<span class="text-gradient"></span>
      </h1>
      <p class="text-center text-xl">
        مؤسسة المحترف للصيانة والتشطيب تعد واحدة من المؤسسات الرائدة في مجال تاسيس وتركيب اعمال السباكة حيث انها تتطلع دائما باستخدم احدث الخامات والاساليب فى اعمال السباكة وتقديم افضل خامات وافضل جودة . 
      </p>
    </CarouselSlide>
    <CarouselSlide image="/assets/finishing-service.png">
      <h1 class="text-center text-5xl font-bold text-white">
        اعمال الدهان<span class="text-gradient"> </span>
      </h1>
      <p class="text-center text-xl">
        مؤسسة المحترف للصيانة والتشطيب تعد واحدة من المؤسسات الرائدة في مجال الدهانات الخارجية والداخلية. 
      </p>
    </CarouselSlide>
  </Carousel>
  <AboutUs />
  <Projects />
  <Services />
  <Customers />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
