---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to our Projects.">
    <section class="bg-white dark:bg-gray-900" dir="rtl">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="max-w-screen-md mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">مشاريع الطلاء</h2>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                    مؤسسة المحترف للصيانة والتشطيب تعد واحدة من المؤسسات الرائدة في مجال الدهانات الخارجية والداخلية. تشمل خدماتها:
                    تتميز مؤسسة المحترف للصيانة والتشطيب بخبرتها الطويلة وفريقها المتخصص القادر على تقديم افضل الخامات والتنفيذ لتلبي احتياجات العملاء بكفاءة عالية
                </p>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                    •	عزل الارضيات: لتحسين جودة الحماية والعزل .
                </p>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                    •	عزل الحوائط : لتوفير افضل نتائج الحماية من الرطوبة .
                </p>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                    •	اختيار الالوان المناسبة للمكان : لضمان تقديم افضل الالوان والانسب للمكان.
                </p>
            </div>
            <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                <div>
                    <div class="flex justify-center items-center mb-4 rounded-full bg-primary-100 dark:bg-primary-900">
                        <img
                            class="h-8 w-auto"
                            style="height: 110px; width: 500px;"
                            src="/assets/p-p-2.png"
                            alt="Mohtarif"
                        />
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">مدارس التعليم</h3>
                    <p class="text-gray-500 dark:text-gray-400">                        
                        من اهم مشاريعنا مدارس جوهرة الرياض العالمية الثالثة  بالرياض حى المربع  حيث تمت اعمال الدهان الخارجية والداخلية واختيار الالوان المناسبة للمكان بالتنسيق مع صاحب المشروع للوصول الى افضل النتائج الممكنة واستخدام اجواد انواع الدهان لضمان الاعمال من عوامل الطقس واستخدام افضل انواع العوازل للحوائط والارضيات لحمايتها من اى رطوبة بالمستقبل . 
                    </p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 rounded-full bg-primary-100 dark:bg-primary-900">
                        <img
                            class="h-8 w-auto"
                            style="height: 110px; width: 500px;"
                            src="/assets/p-p-1.png"
                            alt="Mohtarif"
                        />

                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">المطاعم</h3>
                    <p class="text-gray-500 dark:text-gray-400">
                        من اهم مشاريعنا سلسلة مطاعم فايف جايز  بالرياض طريق الامير تركي وطريق الملك عبد العزيز  حيث تمت اعمال الدهان الخارجية والداخلية واختيار الالوان المناسبة للمكان بالتنسيق مع صاحب المشروع للوصول الى افضل النتائج الممكنة واستخدام اجواد انواع الدهان لضمان الاعمال من عوامل الطقس واستخدام افضل انواع العوازل للحوائط والارضيات لحمايتها من اى رطوبة بالمستقبل . 
                    </p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 rounded-full bg-primary-100 dark:bg-primary-900">
                        <img
                            class="h-8 w-auto"
                            style="height: 110px; width: 500px;"
                            src="/assets/p-p-3.png"
                            alt="Mohtarif"
                        />

                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">مدارس التعليم</h3>
                    <p class="text-gray-500 dark:text-gray-400">                                                
                        من اهم مشاريعنا مدارس التربية والمهارات العالمية  بالرياض حى الرحاب شمال الرياض حيث تمت اعمال الدهان الخارجية والداخلية واختيار الالوان المناسبة للمكان بالتنسيق مع صاحب المشروع للوصول الى افضل النتائج الممكنة واستخدام اجواد انواع الدهان لضمان الاعمال من عوامل الطقس واستخدام افضل انواع العوازل للحوائط والارضيات لحمايتها من اى رطوبة بالمستقبل . 
                    </p>
                </div>
            </div>
        </div>
      </section>
</Layout>