<footer id="contactus" class="bg-grey-mist py-10">
    <div class="mx-auto max-w-2xl">
        <div class="text-white pt-8 text-5xl font-semibold text-right">
            <h2>لتتصل بنا</h2>
        </div>
        <div class="mt-8 text-white flex justify-between" dir="ltr">
            <div>
                <div ><i class="fa-solid fa-location-dot m-3"></i> Riyadh 3790, Ali lbn Ubaid | P.O.Box 14913</div>
                
            </div>
            <div>
                <div ><i class="fa-solid fa-phone m-4"></i> +966 50 077 8348</div>
                <div ><i class="fa-solid fa-envelope m-4"></i> mf.almohtarif@gmail.com</div>

            </div>
        </div>
    </div>
</footer>