<nav class="bg-grey-mist text-white sticky top-0 z-10" data-navbar>
    
  <div
  class="mx-auto flex max-w-2xl items-center justify-around px-4 py-4 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8"
  >
    <div class="flex">
        <a
          href="/"
          class="focus-visible:outline-primary-950 text-3xl dark:group-focus-visible:outline-primary-200 rounded-md focus-visible:outline focus-visible:outline-2"
        >
          <span class="sr-only">Logo</span>
          <img
            class="h-8 w-auto"
            width="165"
            height="140"
            style="height: 110px; width: 100px;"
            src="/logo.png"
            alt="Mohtarif"
          />
        </a>
      </div> 
  
    <ul class="list-none text-sm mt-8 flex gap-4 bg-white rounded-full py-2 px-4 text-grey-mist" dir="rtl">
        <li class="hover:text-grey-mist-h font-semibold"><a href="/" rel="noopener noreferrer">الصفحة الرئيسية</a></li>
        <li class="hover:text-grey-mist-h font-semibold"><a href="/#projects" rel="noopener noreferrer">المشاريع</a></li>
        <li class="hover:text-grey-mist-h font-semibold"><a href="/#services" rel="noopener noreferrer">خدمات</a></li>
        <li class="hover:text-grey-mist-h font-semibold"><a href="/#about" rel="noopener noreferrer">معلومات عنا</a></li>
        <li class="hover:text-grey-mist-h font-semibold"><a href="/#contactus" rel="noopener noreferrer">اتصل بنا</a></li>
    </ul>

  </div>
</nav>

